body{
    background-color: hsl(235, 18%, 26%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.box{
    position: absolute;
    width: 900px;
    height: 640px;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.5);
}

.title{
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
    padding-left: 60px;
    font-size: 50px;
    font-weight: 700;
    padding-top: 60px;
}

.p1{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(75, 75, 75);
    padding-left: 60px;
    font-weight: 400;
    line-height: 1.5rem;
}

.icon{
    width: 20px;
    height: 20px;
    padding-right: 15px;
}

.list{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(75, 75, 75);
    margin-bottom: 10px;
    padding-left: 60px;
}

h3{
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
    padding-left: 60px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 40px;
}

.input-email{
    margin-left: 60px;
    width: 335px;
    height: 50px;
    border-radius: 10px;
    border-color: hsl(0, 0%, 70%);
    color: hsl(0, 0%,70%); 
    border-style: solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-left: 20px;
    font-size: 14px;
}

.input-email:hover{
    border-color: black;
}


.submit-btn{
    width: 360px;
    height: 55px;
    background-color: hsl(234, 29%, 20%);
    border-radius: 10px;
    border-color: hsl(234, 29%, 20%);
    border-style: solid;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.submit-btn:hover{
    background: linear-gradient(to left, rgb(255, 115, 0), rgb(255, 70, 101));
    border-style: hidden;
    box-shadow: 0 10px 40px rgba(255, 70, 117, 0.5),
    0 10px 40px rgb(255, 193, 157); 
}

.box-btn{
    padding-left: 60px;
    padding-top: 20px;
}

.img-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    padding-top: 70px;
    padding-right: 15px;
}

.ill-sgn-dsk{
    position: absolute;
    align-self: flex-end;
}

#success-box{
    display: none;
    position: absolute;
    width: 480px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.5);
}

.success-img{
    padding-left: 60px;
    padding-top: 40px;
}

.success-title{
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
    padding-left: 60px;
    font-size: 50px;
    font-weight: 700;
}

.success-p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    padding-left: 60px;
    font-weight: 400;
    line-height: 1.5rem;
}

.success-btn{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.error-email{
    display: none;
    color: hsl(4, 100%, 67%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 55px;
}

.email-titles{
    display: flex;
    flex-direction: column;
    width: 420px;
}

.titles-style{
    display: flex;
  justify-content: space-between; 
 
}


